.home__container{
    width: 90%;
    margin: 0 auto;
}

.home__barnner__image{
    width: 100%;
}

.home__barnner__image img{
    width: 100%;
    mask-image: linear-gradient( rgba(0,0,0,1),rgba(0,0,0,0));
    margin-bottom: -100px;
    z-index: -1;
}
.product__row{
    display: flex;
    justify-content: center;
}
















